h1{
	text-align: center;
	padding-bottom: 10%;
}

body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: black;
	color: grey;

}

a {
	color: #00B7FF;
}

.container {
/*	position: relative;*/
}

#locMenu{
	position: absolute;
	left: 60%;
	
}

#movMenu{
	position: absolute;
	left: 30%;
}

#dropdownMenu1{
	background: grey;
	color: white;
}

.dropdown-menu{
	background: grey;
}

.dropdown-header{
	font-size: 15px;
	font-weight: 900;
	color: black;
}

li{
	font-size: 13px;
}

.title {
	margin-bottom: 10px;
	text-decoration: underline;
}

.description {
	font-size: 13px;
}

/*
 @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
 @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
 @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
 body{-webkit-animation: spin 9.9s infinite linear;}*/
